.form_container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

    
}

.pin-and-payment{
    display: flex;
    flex-wrap: nowrap;
    gap:0 20px;
    >input , >select {
        width: 100%;
        padding: 12px;
        margin:10px 0;
        border: solid 1px var(--darkGray);
        border-radius:6px;
        outline: none;
        font-size: 16px;
    }
}

.current_location{
    // border: solid 1px red;
    width: 100%;
    margin-top:20px ;
    display: flex;
    justify-content:end;
    display: none;
>button{
    padding: 10px 20px;
    border: solid 1px var(--lightRed);
    border-radius:5px;
    background: var(--lightPink);
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    
    >svg{
        height: 20px;
        width: 20px;
    }

}
}