.link {
  text-decoration: none;
  color: black;
}

.product {
  height: auto;
  width: 200px;
  border: solid 1px var(--lightGray2);
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.product:hover {
  -webkit-box-shadow: 2px 1px 20px 5px rgba(128, 128, 128, 0.237);
          box-shadow: 2px 1px 20px 5px rgba(128, 128, 128, 0.237);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.buttons > a {
  text-decoration: none;
}

.buttons > a button {
  font-size: 16px;
  padding: 5px 15px;
  background: var(--lightGreen);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons > a button > svg {
  margin-right: 2px;
  height: 20px;
  width: 20px;
}

.buttons .cart_button {
  background: var(--lightRed);
}

.dicount_container {
  width: 190px;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dicount_container > p {
  background: var(--lightRed);
  width: auto;
  padding: 2px 9px;
  border-radius: 20px;
  color: var(--white);
}

.dicount_container .heart {
  color: var(--darkGray);
  height: 25px;
  width: 25px;
}

.image_container {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.image_container > img {
  max-height: 250px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 19px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  overflow: hidden;
}

.image_container > img:hover {
  scale: 1.1;
}

.product_info {
  padding: 0 5px;
}

.product_name {
  margin: 5px 0;
}

.ammount_of_product {
  margin: 3px 0;
  border-radius: 5px;
  color: var(--darkRed);
  font-weight: 600;
}

.prise {
  font-size: 25px;
  color: var(--darkGreen);
  font-weight: 800;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prise > del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black);
  font-size: 18px;
}

.ratting {
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}

.ratting > p {
  padding: 2px 5px;
  border-radius: 3px;
  background: #fd9210;
  color: black;
}
/*# sourceMappingURL=productComponent.css.map */