.form{
    width: 500px;
    background: var(--lightGray2);
    padding:10px 10px;
    border-radius: 6px;
    >input , >textarea , >select{
        width: 100%;
        padding: 12px;
        margin:10px 0;
        border: solid 1px var(--darkGray);
        border-radius:6px;
        outline: none;
        font-size: 16px;
    }
    input[type=file]{
         background: var(--white);
         &::-webkit-file-upload-button{
            background: var(--lightGreen);
            border: none;
            color: var(--white);
            padding: 10px;
            border-radius: 4px;
            cursor:pointer;
         }
    }
    >button{
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 6px;
        background: var(--lightGreen);
        transition: all ease 0.3s;
        font-size: 16px;
        font-weight: 600;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
          background: var(--darkGreen);
        }
        >svg{
           margin-left: 5px;
           height: 20px;
           width: 30px;
        }
    }
}